#inputIncomeError {
  display: none;
}
#inputFoodError {
  display: none;
}
#inputClothesError {
  display: none;
}
#inputRentError {
  display: none;
}

#calculateError {
  display: none;
}
#savingsError {
  display: none;
}
